
@font-face {
    font-family: 'firesideregular';
    src: url('./Fonts/Fireside/webfontkit/fireside-fireside-400-webfont.woff2') format('woff2'),
         url('./Fonts/Fireside/webfontkit/fireside-fireside-400-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'destroyregular';
    src: url('./Fonts/Destroy/DESTROY_-webfont.eot');
    src: url('./Fonts/Destroy/DESTROY_-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Fonts/Destroy/DESTROY_-webfont.woff2') format('woff2'),
         url('./Fonts/Destroy/DESTROY_-webfont.woff') format('woff'),
         url('./Fonts/Destroy/DESTROY_-webfont.ttf') format('truetype'),
         url('./Fonts/Destroy/DESTROY_-webfont.svg#destroyregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'boycottregular';
    src: url('./Fonts/Boycott/BOYCOTT_-webfont.eot');
    src: url('./Fonts/Boycott/BOYCOTT_-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Fonts/Boycott/BOYCOTT_-webfont.woff2') format('woff2'),
         url('./Fonts/Boycott/BOYCOTT_-webfont.woff') format('woff'),
         url('./Fonts/Boycott/BOYCOTT_-webfont.ttf') format('truetype'),
         url('./Fonts/Boycott/BOYCOTT_-webfont.svg#boycottregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'old_stamperregular';
    src: url('./Fonts/Old Stamper/old_stamper-webfont.eot');
    src: url('./Fonts/Old Stamper/old_stamper-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Fonts/Old Stamper/old_stamper-webfont.woff2') format('woff2'),
         url('./Fonts/Old Stamper/old_stamper-webfont.woff') format('woff'),
         url('./Fonts/Old Stamper/old_stamper-webfont.ttf') format('truetype'),
         url('./Fonts/Old Stamper/old_stamper-webfont.svg#old_stamperregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: '1942_report';
    src: url('./Fonts/1942 report/1942-webfont.eot');
    src: url('./Fonts/1942 report/1942-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Fonts/1942 report/1942-webfont.woff2') format('woff2'),
         url('./Fonts/1942 report/1942-webfont.woff') format('woff'),
         url('./Fonts/1942 report/1942-webfont.ttf') format('truetype'),
         url('./Fonts/1942 report/1942-webfont.svg#1942_report1942_report') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'amerika_sansregular';
    src: url('./Fonts/Amerika/regularsans/AMERSN__-webfont.eot');
    src: url('./Fonts/Amerika/regularsans/AMERSN__-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Fonts/Amerika/regularsans/AMERSN__-webfont.woff2') format('woff2'),
         url('./Fonts/Amerika/regularsans/AMERSN__-webfont.woff') format('woff'),
         url('./Fonts/Amerika/regularsans/AMERSN__-webfont.ttf') format('truetype'),
         url('./Fonts/Amerika/regularsans/AMERSN__-webfont.svg#amerika_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yataghan';
    src: url('./Fonts/Yataghan/yataghan-webfont.eot');
    src: url('./Fonts/Yataghan/yataghan-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Fonts/Yataghan/yataghan-webfont.woff2') format('woff2'),
         url('./Fonts/Yataghan/yataghan-webfont.woff') format('woff'),
         url('./Fonts/Yataghan/yataghan-webfont.ttf') format('truetype'),
         url('./Fonts/Yataghan/yataghan-webfont.svg#yataghanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    background-color: black;
}

.helios {
    font-family: 'firesideregular';
    font-size: 75px;
    background-color: black;
    color: forestgreen;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    font-size: 20px;
    background-color: forestgreen;
    margin: auto;
    justify-content: center;
    width: auto;
    padding: 5px;
}   

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    width: 20%;
    margin-right: -4px;
}

nav a {
    font-family: 'boycottregular';
    display: block;
    text-decoration: none;
    height: 40%;
    line-height: auto;
    padding: 6px 20px;
    transition: .5s;
    
}

nav a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid black;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .5px;

}

nav a:link {
    color: darkmagenta;
    background-color: transparent;
    text-decoration: none;
  }
  
nav a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
nav a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }

nav a:hover span {
    transform: scale(1) translateY(0);
    opacity: 1;
    text-decoration: underline;
}

h1 {
    color: darkmagenta;
    font-family: 'destroyregular';
}

p {
    color: white;
    font-family: amerika_sansregular;
    font-size: 25px;
}

.navtag {
    color: darkmagenta;
    font-family: 'boycottregular';
}

.container {
    align-items: center;
    width: 100%;
    margin-right: -4px;
}

.container a:link {
    font-family: yataghan;
    font-size: 25px;
    color: darkmagenta;
    background-color: transparent;
    text-decoration: none;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

figure {
    margin: 10;
    padding: 10;
    overflow: hidden;
    border-radius: 8px; /* Rounded corners for the tiles */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow */
    background-color: #fff;
}

figure img {
    width: 100%; /* Make the image fill the width of the tile */
    height: 400px; /* Fixed height for uniformity */
    object-fit: cover; /* Ensures the image covers the tile area without distortion */
    transition: transform 0.3s ease; /* Smooth zoom effect on hover */
}

figure:hover img {
    transform: scale(1.05); /* Slight zoom effect when hovering over the image */
}

figure video {
    width: 100%; /* Make the image fill the width of the tile */
    height: 200px; /* Fixed height for uniformity */
    object-fit: cover; /* Ensures the image covers the tile area without distortion */
    transition: transform 0.3s ease; /* Smooth zoom effect on hover */
}

figcaption {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: white;
    margin: 0;
}

footer {
    color: gray;
}

.note {
    color: gray
}

.copyright {
    color: gray;
}

